<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hourly rate calculation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hourly rate calculation</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label  position="floating">Salary</ion-label>
    <ion-input type="number" [(ngModel)]="salary" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Daily Working Hours</ion-label>
    <ion-input type="number" [(ngModel)]="dailyWorkingHours" clearInput></ion-input>
  </ion-item>

  <ion-button (click)="calculateHourlyRate()" expand="full" color="primary">Calculate</ion-button>

  <ion-item-divider>
    <ion-label>
      Latest Hourly Rate
    </ion-label>
  </ion-item-divider>

  <ion-item>
    {{service.hourlyRate}}
  </ion-item>

</ion-content>